body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

button{
    font-size: 50px;
    padding: 25px 50px;
    cursor: pointer;
    border: none;
    background-color: #b90000;
    color: white;
    font-family: initial;
    letter-spacing: 3px;
    border-radius: 15px;
    box-shadow: 0px 17px 0px 0px #1b1b1b;

}

button:hover{
    background-color: rgb(255, 0, 0);

}

button:active{
    transform: translateY(7px);
    box-shadow: 0px 10px 0px 0px rgb(67, 88, 93);
}